<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="master.php" />
                <remove value="home.php" />
                <add value="stats.php" />
            </files>
        </defaultDocument>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <remove users="?" roles="" verbs="" />
                <add accessType="Allow" users="administrator" />
            </authorization>
        </security>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <system.web>
        <authorization>
            <allow roles="Administrators" />
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>
